/* styles-common.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  header {
    display: flex;
    align-items: center;
    background-color: #150ed2;
    color: white;
    padding: 10px 20px;
    flex-wrap: wrap;
  }
  
  header .logo {
    max-height: 50px;
    margin-right: 20px;
  }
  
  h1 {
    margin: 0;
  }
  
  .container {
    margin: 0px 20px;
  }
  
  .container .table-csv li {
    padding: 15px 0px;
  }
  
  a {
    background-color: #150ed2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
  }
  
  a:hover {
    background-color: #4559a0;
  }
  
  ul.table-csv {
    list-style-type: none;
    padding: 0;
  }
  
  ul.table-csv li {
    background: #fff;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  ul.table-csv li a {
    text-decoration: none;
    color: #150ed2;
  }
  
  ul.table-csv li a:hover {
    text-decoration: underline;
  }
  
  table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  table thead {
    background-color: #333;
    color: white;
  }
  
  table th, table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  table tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  /* Media Queries */
  @media (max-width: 600px) {
    header {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    header .logo {
      margin-right: 0;
      margin-bottom: 10px;
    }
  
    a {
      width: 100%;
      font-size: 18px;
    }
  
    ul.table-csv li {
      flex-direction: column;
    }
  }
  